# Set Up for Splinter

In [25]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [27]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
There is no [win32] chromedriver for browser 93.0.4577 in cache
Get LATEST driver version for 93.0.4577
Trying to download new driver from https://chromedriver.storage.googleapis.com/93.0.4577.63/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\karen_vvhiu3v\.wdm\drivers\chromedriver\win32\93.0.4577.63]

# Mars News from NASA

In [28]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [29]:
#Set an HTML object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [31]:
# Retrieve the latest element that contains news title and news_paragraph
news_result_title = soup.find_all('div', class_='content_title')[1].text
news_result_par = soup.find_all('div', class_='article_teaser_body')[0].text

print(news_result_title)
print(news_result_par)

NASA's Perseverance Rover Cameras Capture Mars Like Never Before
Scientists tap into an array of imagers aboard the six-wheeled explorer to get a big picture of the Red Planet.

# JPL Mars Space Featured Image

In [33]:
space_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(space_image_url)
browser.links.find_by_partial_text('FULL IMAGE').click()

In [34]:
#Set an HTML object
html_space = browser.html

# Parse HTML with Beautiful Soup
soup2 = bs(html_space, 'html.parser')

In [35]:
image_url = soup2.find('img',attrs={'class':'fancybox-image'})['src']

In [36]:
#Website URL
web_main_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'

featured_image_url = web_main_url + image_url

In [37]:
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

# Mars Facts

In [38]:
mars_fact_url = 'https://space-facts.com/mars/'

In [39]:
tables = pd.read_html(mars_fact_url)
mars_fact_df = tables[0]
mars_fact_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [40]:
mars_fact_df.columns = ['Description','Value']
mars_fact_df.set_index('Description', inplace=True)
mars_fact_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [41]:
#to html
with open('mars_facts_df.html', 'w') as ft:
    mars_fact_df.to_html(ft)

# Mars Hemipheres

In [44]:
url_hems = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_hems)

#HTML object
html_hems = browser.html

# Parse with Beautiful Soup
soup_hems = bs(html_hems, 'html.parser')

In [46]:
# Retrieve items that contain mars hemispheres info
item = soup_hems.find_all('div', class_='item')


hems_list = []
hems_main_url = 'https://astrogeology.usgs.gov'

for i in item:
    title = i.find('h3').text
    partial_img = i.find('a', class_='itemLink product-item')['href']
    browser.visit(hems_main_url + partial_img)
    partial_html = browser.html
    soup_par = bs(partial_html, 'html.parser')
    image_url = hems_main_url + soup_par.find('img', class_='wide-image')['src']
    hems_list.append({"title": title, "img_url": image_url})

In [47]:
hems_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]